winlogbeat.event_logs:
  - name: ${EVTX_FILE}
    no_more_events: stop

winlogbeat.registry_flush: 5s
winlogbeat.shutdown_timeout: 30s
winlogbeat.registry_file: "${CWD}/winlogbeat/evtx-registry.yml"

output.elasticsearch:
  hosts: ['https://192.168.0.1:9200']
  ssl.verification_mode: none
  username: "elastic"
  password: "PASSWORD"
